/* UIKit */
@import "variables-theme.scss";
@import "mixins-theme.scss";
@import "uikit-theme.scss";

.rate-up svg polygon {
  fill: green;
}

.rate-down svg polygon {
  fill: red;
}

.add-currency-btn svg {
  & circle {
    fill: green;
    stroke: none;
  }
  & line {
    stroke: white;
  }
}

.remove-currency-btn svg {
  & circle {
    fill: red;
    stroke: none;
  }
  & line {
    stroke: white;
  }
}
