<div
  tabindex="0"
  class="uk-animation-toggle uk-link-reset"
  [ngClass]="isAddButton ? 'add-currency-btn' : 'remove-currency-btn'"
  (click)="onClick()"
>
  <span
    [attr.uk-tooltip]="
      isAddButton
        ? 'title: Add Currency; pos: top'
        : 'title: Remove Currency; pos: top'
    "
    class="uk-animation-scale-up uk-icon-hover uk-preserve"
    [attr.uk-icon]="
      isAddButton
        ? 'icon: plus-circle; ratio: 1.8'
        : 'icon: minus-circle; ratio: 1.2'
    "
  ></span>
</div>
