$rate-up-color: #008000;
$rate-down-color: #cc0000;

.currency-item {
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  font-weight: 500;
}

svg {
  width: 24px;
  height: 24px;
}

.rate-up {
  color: $rate-up-color;
}

.rate-down {
  color: $rate-down-color;
}
.rate-up,
.rate-down {
  font-size: 0.8rem;
}

.rate-up-arrow {
  fill: $rate-up-color;
}

.rate-down-arrow {
  fill: $rate-down-color;
}
