<div class="uk-flex uk-flex-between">
  <div>{{ currencyName }}</div>
  <div class="uk-flex uk-flex-between">
    <div
      class="currency-data uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"
    >
      <span>60.94</span>
      <span
        class="rate-up uk-margin-small-left uk-preserve"
        uk-icon="icon: triangle-up; ratio: 1.2"
      ></span>
      <span>(+0.02)</span>
    </div>
    <app-action-button class="uk-margin-medium-left" [isAddButton]="false">
    </app-action-button>
  </div>
</div>
<hr />
