<div class="uk-flex uk-flex-between">
  <div>USD</div>
  <div
    class="currency-data uk-margin-medium-left uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"
  >
    <span>60.94</span>
    <span
      class="rate-up uk-margin-small-left"
      uk-icon="icon: triangle-up; ratio: 1.2"
    ></span>
    <span>(+0.02)</span>
    <a
      href=""
      tabindex="0"
      class="uk-animation-toggle uk-link-reset"
      uk-tooltip="title: Add Currency; pos: right"
    >
      <span
        class="uk-animation-scale-up uk-icon-hover"
        uk-icon="icon: minus-circle"
      ></span>
    </a>
  </div>
</div>
<hr />
